@import "../../generalStyle/color";

.all_posts {
    cursor: pointer;
  > .all_posts_items {
    margin: 40px 0 20px 0;
>ol{
    list-style: none;
    >li.all_posts_items_list{
        position: relative;
        counter-increment: item;
        > .all_posts_item {
            margin-bottom: 35px;
          padding: 15px;
          border-radius: 5px;
          overflow: hidden;
          background-color: $backGroudCard;
          box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.1);
          > .all_posts_card {
            > .all_posts_card_info {
              > .all_posts_card_info_title {
               
                margin-bottom: 18px;
                font-weight: 500;
                // letter-spacing: 1.3px;
                font-size: 25px;
                color: $blackText;
                text-align: center;
              }
              > .all_posts_card_info_body {
                color: $grayText;
        line-height: 1.3;
        font-size: 15px;
        
    
    
              }
            }
          }
        }
        &:before {
          position: absolute;
          left: -1.8rem;
          top: 24px;
            content: counter(item);
            
            background: $maincolor;
            border-radius: 100%;
            color: white;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width:500px) {
                left: 50%;
                top: -15px;
                transform: translateY(-50%);
    
            }
           
          }
    }

}
  }
}

.error{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 82, 82);
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  >.error_message{
    color: $blackText;
  }
}

.no_posts{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: $blackText;
  >p{
    text-align: center;
  }
}