$maincolor:var(--mainColor);
$blackText:var(--blackText);
$backGroudCard:var(--backGroudCard);
$grayText:var(--grayText);
$bodyColor:var(--bodyColor);
$backGroudCardDark:var(--backGroudCardDark);
$btnColorText:var(--btnColorText);


